PRIVATE_KEY=your_private_key_here
BINANCE_TESTNET_SECRET=your_binance_secret_here
BINANCE_TESTNET_API_KEY=your_api_key_here
SEPOLIA_RPC_URL=your_api_key_here
ETH_RPC_URL=your_api_key_here
FORK_BLOCK=24842945
FORK_PORT=8545
FORK_ACCOUNTS=10
FORK_BALANCE=10000
